{% extends '::base.html.twig' %}
{% block content %}
{% endblock %}
{% block slider %}
TU BĘDZIE KONTENT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% endblock %}
{% block categories %}

{% for categories2 in categories2 %}
<li class="has-sub"><a href="#">{{ categories2.mother }} </a>
                            <ul>
                                <li><a href="/sh/web/app_dev.php/category/{{ categories2.categorypath }}">{{ categories2.category }}</a></li>

                            </ul></li>
                       
{% endfor %}

{% endblock %}

{% block products %}
<section id="caly-blok-stopka" class="col-md-12">
<div class="container">
<div class="row">
{% for categories in categories %}
<div class="col-md-3">
<a href="/sh/web/app_dev.php/products/{{ categories.name }}">
{{ categories.display_name }}

<img src="{{categories.img_min}}" style="width:150px">
</a></div>
{% endfor %}
</div></div>
</section>
{% endblock %}